{
	"presets": ["es2015", "stage-0", "react"],
	"env": {
		"start": {
			"plugins": ["react-hot-loader/babel"]
		},
		"development": {
			"plugins": ["react-hot-loader/babel"]
		},
		"production": {
			"plugins": ["transform-remove-console"]
		}
	}
}
