{
  "extends": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "semi": [1, "never"],
    "indent": [1, 2],
    "quotes": [1, "single"],
    "strict": [1, "never"],
    "no-unused-vars": 1,
    "no-underscore-dangle": 1,
    "smells/no-this-assign": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/wrap-multilines": 1,
    "eol-last": 1,
    "space-before-function-paren": 1,
    "new-cap": 0,
    "max-len": 0,
    "no-trailing-spaces": 1
  },
  "plugins": [
    "react",
    "smells"
  ]
}
